@using Vendor_Indusuno.Extensions
@model Vendor_Indusuno.ViewModels.CustomerReportViewModel
@{
    ViewBag.Title = "CustomerReport";
    TempData["Dashboard"] = "active";
    TempData["CustomerReport"] = "active";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @{
        string pageTitle = Html.Raw(Html.PageGTitle()) + "";
    }
    <h1>
        @pageTitle
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        @Html.Raw(Html.BuildBreadcrumbNavigation())
        @*<li class="active">Dashboard</li>*@
    </ol>
</section>
<!-- Main content -->
<section class="content">
    @using (Html.BeginForm("CustomerReport", "Admin", FormMethod.Post, new { id = "form_advanced_validation", autocomplete = "off", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Default box -->
                <div class="box">
                    <!-- /.box-body -->
                    <div class="box-body">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Search, new { @class = "form-control-label" }) <sup>*</sup>
                                @Html.TextBoxFor(m => m.Search,
                                new
                                {
                                    @class = "form-control text-capitalize",
                                    placeholder = @Html.DisplayNameFor(m => m.Search)
                                })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate, new { @class = "form-control-label" }) <sup>*</sup>
                                @Html.TextBoxFor(m => m.StartDate,
                                new
                                {
                                    @class = "form-control datepicker",
                                    placeholder = @Html.DisplayNameFor(m => m.StartDate)
                                })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.EndDate, new { @class = "form-control-label" }) <sup>*</sup>
                                @Html.TextBoxFor(m => m.EndDate,
                                new
                                {
                                    @class = "form-control datepicker",
                                    placeholder = @Html.DisplayNameFor(m => m.EndDate)
                                })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.User, new { @class = "form-control-label" }) <sup>*</sup>
                                @Html.DropDownListFor(m => m.User, new SelectList(Model.UserModelList, "Key", "Value"),
                                "--Select User--", new { @class = "form-control select2 posentby" })
                                @Html.ValidationMessageFor(m => m.User, "",
                        new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="box-tools pull-left">
                                <button type="submit" name="search" class="btn bg-aqua" title="SEARCH"
                                        value="search">
                                    SEARCH
                                </button>
                            </div>
                        </div>
                        <table id="tblCustomerReport" class="table table-bordered display">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().CustomerName)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().NoOfEnqRcv)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().NoOfLneItm)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().QuotedEnq)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().QuotedLneItm)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().QuotedValue)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().TAT)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().POReceived)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().POValue)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerReportModelList.FirstOrDefault().Delivery)</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CustomerReportModelList)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NoOfEnqRcv)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NoOfLneItm)</td>
                                        <td>@Html.DisplayFor(modelItem => item.QuotedEnq)</td>
                                        <td>@Html.DisplayFor(modelItem => item.QuotedLneItm)</td>
                                        <td>@Html.DisplayFor(modelItem => item.QuotedValue)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TAT)</td>
                                        <td>@Html.DisplayFor(modelItem => item.POReceived)</td>
                                        <td>@Html.DisplayFor(modelItem => item.POValue)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Delivery)</td>
                                        <td>Send</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
        <!-- danger with sound -->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-sub-confirm">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-warning"></span> Confirm <strong>Box</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to submit?</p>
                        <p>Press No if you want to Cancel. Press Yes to Submit the record.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button name="posubmit" class="btn btn-confirm-yes btn-lg" title="Yes">
                                Yes
                            </button>
                            <button class="btn btn-confirm-no btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end danger with sound -->
    }
</section>
<!-- /.content -->
