@using Vendor_Indusuno.Extensions
@model Vendor_Indusuno.ViewModels.PurchaseOrderViewModel
@{
    ViewBag.Title = "Import Purchase Order";
    TempData["PurchaseOrders"] = "active";
    TempData["ImportPurchaseOrder"] = "active";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @{
        string actType = "Add";
        string actBtn = "Submit";
        string pageTitle = Html.Raw(Html.PageGTitle()) + "";
    }
    <h1>
        @pageTitle
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        @Html.Raw(Html.BuildBreadcrumbNavigation())
    </ol>
</section>
<!-- Main content -->
<section class="content">
    @using (Html.BeginForm("ImportPurchaseOrder", "Admin", FormMethod.Post, new { id = "form_advanced_validation", autocomplete = "off", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Import Purchase Order</h3>
                        <div class="box-tools pull-right">
                            <ul class="panel-controls">
                                Download Sample PO excel file for upload
                                <a href='~/Content/upload/sampleexcel/posample.xlsx' class="btn btn-edt bg-aqua" target="_blank">Download</a>
                            </ul>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="msgs">
                                @if (ViewData?.ModelState[""]?.Errors?.Any() == true)
                                {
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                        @Html.ValidationSummary(true, "", new { @class = "float-left" })
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(ViewBag.SucMsg))
                                {
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-check"></i> Success!</h4>
                                        <strong>Well done!</strong> @ViewBag.SucMsg
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(ViewBag.ErrMsg))
                                {
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                        <strong>Oh snap!</strong> @ViewBag.ErrMsg
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(TempData["ErrMsg"] + ""))
                                {
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                        <strong>Oh snap!</strong> @TempData["ErrMsg"]
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(TempData["SucMsg"] + ""))
                                {
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-check"></i> Success!</h4>
                                        <strong>Well done!</strong> @TempData["SucMsg"]
                                    </div>
                                }
                            </div>
                            @Html.HiddenFor(model => model.ImportPurchaseOrderModels.Id)
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ImportPurchaseOrderModels.PurchaseOrderExcel, new { @class = "form-control-label" })
                                        @Html.TextBoxFor(m => m.ImportPurchaseOrderModels.PurchaseOrderExcel,
                                        new
                                        {
                                            @class = "form-control",
                                            @type = "file",
                                            placeholder = @Html.DisplayNameFor(m => m.ImportPurchaseOrderModels.PurchaseOrderExcel)
                                        })
                                        @Html.ValidationMessageFor(m => m.ImportPurchaseOrderModels.PurchaseOrderExcel, "",
                                new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <button type="submit" name="@actBtn.ToLower()" class="btn bg-aqua" title="@actBtn"
                                            value="@actBtn">
                                        UPLOAD
                                    </button>
                                </div>
                            </div>
                        </div>
                        @if (Model.ImportPurchaseOrderModelList.Count > 0)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="tblProductExcel" class="table table-bordered display nowrap">
                                        <thead>
                                            <tr>
                                                <th>SNo.</th>
                                                <th>Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var u in Model.ImportPurchaseOrderModelList)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <a href='~/Content/upload/Excel/@u.PurchaseOrderExcel' class="btn btn-edt bg-aqua" target="_blank">Download</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="box-body">
                                <div class="no-record">No record found.</div>
                            </div>
                        }

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- danger with sound -->
        <!-- end danger with sound -->
        <!-- /.row (main row) -->
        <!-- Modal -->
        @*<div class="modal fade" id="modalAddBranch" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Default Modal</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body…</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>*@
    }
</section>
<!-- /.content -->
