@using Vendor_Indusuno.Extensions
@model Vendor_Indusuno.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home";
    TempData["Index"] = "active";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @{
        string actType = "Add";
        string actBtn = "Submit";
        string pageTitle = Html.Raw(Html.PageGTitle()) + "";
    }
    <h1>
        @pageTitle
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        @Html.Raw(Html.BuildBreadcrumbNavigation())
        @*<li class="active">Dashboard</li>*@
    </ol>
</section>
<!-- Main content -->
<section class="content">
    @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { id = "form_advanced_validation", autocomplete = "off", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Default box -->
                <div class="box">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-widget widget-user-2">
                            <div class="widget-user-header bg-yellow p-10">
                                <h3 class="widget-user-username  m-l-0">Enquiry <span class="tot"></span></h3>
                                <h5 class="widget-user-desc m-l-0">Total (Standard, Non-Standard)</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li class="ienq"><a href="#">Last Year <span class="stn badge bg-blue">@Model.EnqCountModels.OLastYearS</span><span class="nstn pull-right badge bg-red">@Model.EnqCountModels.OLastYearN</span></a></li>
                                    <li class="ienq"><a href="#">Last Month <span class="stn badge bg-blue">@Model.EnqCountModels.OLastMonthS</span><span class="nstn pull-right badge bg-red">@Model.EnqCountModels.OLastMonthN</span></a></li>
                                    @*<li><a href="#">Last 7 Days <span class="pull-right badge bg-aqua">@Model.EnqCountModels.OLast7Days</span></a></li>*@
                                    <li class="ienq"><a href="#">Yesterday <span class="stn badge bg-blue">@Model.EnqCountModels.OYesterdayS</span><span class="nstn pull-right badge bg-red">@Model.EnqCountModels.OYesterdayN</span></a></li>
                                    <li class="ienq"><a href="#">Today <span class="stn badge bg-green">@Model.EnqCountModels.OTodayS</span><span class="nstn cnstn pull-right badge bg-green">@Model.EnqCountModels.OTodayN</span></a></li>
                                    <li class="ienq"><a href="#">Current Month <span class="stn cstn badge bg-blue">@Model.EnqCountModels.OCMonthS</span><span class="nstn pull-right badge bg-red">@Model.EnqCountModels.OCMonthN</span></a></li>
                                    <li class="ienq"><a href="#">Current Year <span class="pull-right badge bg-red">@Model.EnqCountModels.OCYear</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-widget widget-user-2">
                            <div class="widget-user-header bg-green p-10">
                                <h3 class="widget-user-username m-l-0">Enquiry</h3>
                                <h5 class="widget-user-desc m-l-0">Pending (Standard, Non-Standard)</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    @*<li><a href="#">Last Year <span class="pull-right badge bg-blue">@Model.EnqCountModels.PLastYear</span></a></li>*@
                                    <li><a href="#">Last Month <span class="pull-right badge bg-blue">@Model.EnqCountModels.PLastMonth</span></a></li>
                                    @*<li><a href="#">Last 7 Days <span class="pull-right badge bg-aqua">@Model.EnqCountModels.PLast7Days</span></a></li>*@
                                    <li><a href="#">With in 48 Hours <span class="badge bg-blue">@Model.EnqCountModels.PYesterdayS</span><span class="pull-right badge bg-blue">@Model.EnqCountModels.PYesterdayN</span></a></li>
                                    <li><a href="#">With in 24 Hours <span class="badge bg-blue">@Model.EnqCountModels.PTodayS</span><span class="pull-right badge bg-green">@Model.EnqCountModels.PTodayN</span></a></li>
                                    <li><a href="#">Current Month <span class="badge bg-blue">@Model.EnqCountModels.PCMonthS</span><span class="pull-right badge bg-red">@Model.EnqCountModels.PCMonthN</span></a></li>
                                    <li><a href="#">CM Regret <span class="badge bg-blue m-r-40">@Model.EnqCountModels.CMRegret</span>CM Hold<span class="pull-right badge bg-red"> @Model.EnqCountModels.CMHold</span></a></li>
                                    <li><a href="#">Current Month Total <span class="pull-right badge bg-red">@Model.EnqCountModels.PCMonth</span></a></li>
                                    @*<li><a href="#">Total <span class="pull-right badge bg-red">@Model.EnqCountModels.PTotal</span></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active p-10">
                                <h3 class="widget-user-username m-l-0">Purchase Order</h3>
                                <h5 class="widget-user-desc m-l-0">Total</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Last Year <span class="badge bg-blue">@Model.POCountModels.OLastYear</span><span class="pull-right badge bg-blue">@Model.POCountModels.OLastYearValue</span></a></li>
                                    <li><a href="#">Last Month <span class="badge bg-blue">@Model.POCountModels.OLastMonth</span><span class="pull-right badge bg-blue">@Model.POCountModels.OLastMonthValue</span></a></li>
                                    @*<li><a href="#">Last 7 Days <span class="pull-right badge bg-aqua">@Model.POCountModels.OLast7Days</span></a></li>*@
                                    <li><a href="#">Yesterday <span class="badge bg-blue">@Model.POCountModels.OYesterday</span><span class="pull-right badge bg-blue">@Model.POCountModels.OYesterdayValue</span></a></li>
                                    <li><a href="#">Today <span class="badge bg-green">@Model.POCountModels.OToday</span><span class="pull-right badge bg-green">@Model.POCountModels.OTodayValue</span></a></li>
                                    <li><a href="#">Current Month <span class="badge bg-red">@Model.POCountModels.OCMonth</span><span class="pull-right badge bg-red">@Model.POCountModels.OCMonthValue</span></a></li>
                                    <li><a href="#">Current Year <span class="badge bg-red">@Model.POCountModels.OCYear</span><span class="pull-right badge bg-red">@Model.POCountModels.OCYearValue</span></a></li>
                                    @*<li><a href="#">Total <span class="badge bg-red">@Model.POCountModels.OTotal</span><span class="pull-right badge bg-red">@Model.POCountModels.OTotalValue</span></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-widget widget-user-2">
                            <div class="widget-user-header bg-m-red p-10">
                                <h3 class="widget-user-username m-l-0">Quotation</h3>
                                <h5 class="widget-user-desc m-l-0">Total</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Last Year <span class="badge bg-blue">@Model.QuotCountModels.OLastYear</span><span class="pull-right badge bg-blue">@Model.QuotCountModels.OLastYearValue</span></a></li>
                                    <li><a href="#">Last Month <span class="badge bg-blue">@Model.QuotCountModels.OLastMonth</span><span class="pull-right badge bg-blue">@Model.QuotCountModels.OLastMonthValue</span></a></li>
                                    @*<li><a href="#">Last 7 Days <span class="pull-right badge bg-aqua">@Model.POCountModels.OLast7Days</span></a></li>*@
                                    <li><a href="#">Yesterday <span class="badge bg-blue">@Model.QuotCountModels.OYesterday</span><span class="pull-right badge bg-blue">@Model.QuotCountModels.OYesterdayValue</span></a></li>
                                    <li><a href="#">Today <span class="badge bg-green">@Model.QuotCountModels.OToday</span><span class="pull-right badge bg-green">@Model.QuotCountModels.OTodayValue</span></a></li>
                                    <li><a href="#">Current Month <span class="badge bg-red">@Model.QuotCountModels.OCMonth</span><span class="pull-right badge bg-red">@Model.QuotCountModels.OCMonthValue</span></a></li>
                                    <li><a href="#">Current Year <span class="badge bg-red">@Model.QuotCountModels.OCYear</span><span class="pull-right badge bg-red">@Model.QuotCountModels.OCYearValue</span></a></li>
                                    @* <li><a href="#">Total <span class="badge bg-red">@Model.QuotCountModels.OTotal</span><span class="pull-right badge bg-red">@Model.QuotCountModels.OTotalValue</span></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active p-10">
                                <h3 class="widget-user-username m-l-0">Purchase Order</h3>
                                <h5 class="widget-user-desc m-l-0">Pending</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">C Year Opening <span class="badge bg-blue">@Model.POPendingCountModels.OLastYear</span><span class="pull-right badge bg-blue">@Model.POPendingCountModels.OLastYearValue</span></a></li>
                                    <li><a href="#">Last Month <span class="badge bg-blue">@Model.POPendingCountModels.OLastMonth</span><span class="pull-right badge bg-blue">@Model.POPendingCountModels.OLastMonthValue</span></a></li>
                                    @*<li><a href="#">Last 7 Days <span class="pull-right badge bg-aqua">@Model.POPendingCountModels.OLast7Days</span></a></li>*@
                                    @*<li><a href="#">Yesterday <span class="badge bg-blue">@Model.POPendingCountModels.OYesterday</span><span class="pull-right badge bg-blue">@Model.POPendingCountModels.OYesterdayValue</span></a></li>*@
                                    <li><a href="#">Total <span class="badge bg-blue">@Model.POPendingCountModels.OTotal</span><span class="pull-right badge bg-blue">@Model.POPendingCountModels.OTotalValue</span></a></li>
                                    <li><a href="#">Today <span class="badge bg-green">@Model.POPendingCountModels.OToday</span><span class="pull-right badge bg-green">@Model.POPendingCountModels.OTodayValue</span></a></li>
                                    <li><a href="#">Current Month <span class="badge bg-red">@Model.POPendingCountModels.OCMonth</span><span class="pull-right badge bg-red">@Model.POPendingCountModels.OCMonthValue</span></a></li>
                                    <li><a href="#">Current Year <span class="badge bg-red">@Model.POPendingCountModels.OCYear</span><span class="pull-right badge bg-red">@Model.POPendingCountModels.OCYearValue</span></a></li>
                                    @* <li><a href="#">Total <span class="badge bg-red">@Model.POPendingCountModels.OTotal</span><span class="pull-right badge bg-red">@Model.QuotCountModels.OTotalValue</span></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active p-10">
                                <h3 class="widget-user-username m-l-0">Sales</h3>
                                <h5 class="widget-user-desc m-l-0">Complete</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Last Year <span class="badge bg-blue">@Model.POCompleteCountModels.OLastYear</span><span class="pull-right badge bg-blue">@Model.POCompleteCountModels.OLastYearValue</span></a></li>
                                    <li><a href="#">Last Month <span class="badge bg-blue">@Model.POCompleteCountModels.OLastMonth</span><span class="pull-right badge bg-blue">@Model.POCompleteCountModels.OLastMonthValue</span></a></li>
                                    @*<li><a href="#">Last 7 Days <span class="pull-right badge bg-aqua">@Model.POCompleteCountModels.OLast7Days</span></a></li>*@
                                    <li><a href="#">Yesterday <span class="badge bg-blue">@Model.POCompleteCountModels.OYesterday</span><span class="pull-right badge bg-blue">@Model.POCompleteCountModels.OYesterdayValue</span></a></li>
                                    <li><a href="#">Today <span class="badge bg-green">@Model.POCompleteCountModels.OToday</span><span class="pull-right badge bg-green">@Model.POCompleteCountModels.OTodayValue</span></a></li>
                                    <li><a href="#">Current Month <span class="badge bg-red">@Model.POCompleteCountModels.OCMonth</span><span class="pull-right badge bg-red">@Model.POCompleteCountModels.OCMonthValue</span></a></li>
                                    <li><a href="#">Current Year <span class="badge bg-red">@Model.POCompleteCountModels.OCYear</span><span class="pull-right badge bg-red">@Model.POCompleteCountModels.OCYearValue</span></a></li>
                                    @* <li><a href="#">Total <span class="badge bg-red">@Model.QuotCountModels.OTotal</span><span class="pull-right badge bg-red">@Model.QuotCountModels.OTotalValue</span></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active p-10">
                                <h3 class="widget-user-username m-l-0">Margin</h3>
                                <h5 class="widget-user-desc m-l-0">%</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li>@Html.EncodedActionLink("Last Year <span class='pull-right badge bg-blue'>" + @Model.POMarginCountModels.OLastYearValue + "</span>", "POMargin", "Admin", null, new { @class = "", title = "", @target = "_blank" })</li>
                                    <li>@Html.EncodedActionLink("Last Month <span class='pull-right badge bg-blue'>" + @Model.POMarginCountModels.OLastMonthValue + "</span>", "POMargin", "Admin", null, new { @class = "", title = "", @target = "_blank" })</li>
                                    @*<li><a href="#">Last 7 Days <span class="pull-right badge bg-aqua">@Model.POCountModels.OLast7Days</span></a></li>*@
                                    <li>@Html.EncodedActionLink("Yesterday <span class='pull-right badge bg-blue'>" + @Model.POMarginCountModels.OYesterdayValue + "</span>", "POMargin", "Admin", null, new { @class = "", title = "", @target = "_blank" })</li>
                                    <li>@Html.EncodedActionLink("Today <span class='pull-right badge bg-green'>" + @Model.POMarginCountModels.OTodayValue + "</span>", "POMargin", "Admin", null, new { @class = "", title = "", @target = "_blank" })</li>
                                    <li>@Html.EncodedActionLink("Current Month <span class='pull-right badge bg-red'>" + @Model.POMarginCountModels.OCMonthValue + "</span>", "POMargin", "Admin", null, new { @class = "", title = "", @target = "_blank" })</li>
                                    <li>@Html.EncodedActionLink("Current Year <span class='pull-right badge bg-red'>" + @Model.POMarginCountModels.OCYearValue + "</span>", "POMargin", "Admin", null, new { @class = "", title = "", @target = "_blank" })</li>
                                    @* <li><a href="#">Total <span class="badge bg-red">@Model.QuotCountModels.OTotal</span></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box-body chart-responsive">
                            <div class="chart" id="bar-chart" style="height: 300px;"></div>
                        </div>
                    </div>*@
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Enquiry</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="enqbar-chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Quote</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="quotbar-chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Purchase Order</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="pobar-chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Purchase Order (Excluded Vedanta)</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="poevbar-chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Conversion % (Excluded Vedanta)</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="conbar-chart" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>

        <!-- danger with sound -->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-act-cnfrm">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-warning"></span> Confirm <strong>Box</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to delete?</p>
                        <p>Press No if you want to Cancel. Press Yes to Delete the record.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a id="confirmhref" href="#" class="btn btn-confirm-yes btn-lg">Yes</a>
                            <button class="btn btn-confirm-no btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end danger with sound -->
    }
</section>
<!-- /.content -->
@*<script type="text/javascript">
        $(document).ready(function () {

        });
    </script>*@
