@using Vendor_Indusuno.Extensions
@model Vendor_Indusuno.ViewModels.ImportPOSourceViewModel
@{
    ViewBag.Title = "Sourced";
    TempData["Enquiry"] = "active";
    TempData["Sourced"] = "active";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @{
        string pageTitle = Html.Raw(Html.PageGTitle()) + "";
    }
    <h1>
        @pageTitle
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        @Html.Raw(Html.BuildBreadcrumbNavigation())
        @*<li class="active">Dashboard</li>*@
    </ol>
</section>
<!-- Main content -->
<section class="content">
    @using (Html.BeginForm("POSourceExcel", "Admin", FormMethod.Post, new { id = "form_advanced_validation", autocomplete = "off", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <!-- Main row -->
        <div class="row">
            <!-- /.box -->
            <div class="col-lg-12">
                @Html.Hidden("RedirectTo", Url.Action("POSourced", "Admin"));
                <!-- Default box -->
                <div class="box">
                    <table id="tblposource" class="tbl table table-bordered display">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().Customer)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().CustomerPONo)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().POPId)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().Product)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().SalePrice)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().Quantity)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().GST)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().ListPrice)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().EnqPId)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().Vendor)</th>
                                <th>@Html.DisplayNameFor(model => model.ImportPOSourceModelList.FirstOrDefault().LastVendor)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int inc = 1;
                            }
                            @foreach (var item in Model.ImportPOSourceModelList)
                            {
                                <tr>
                                    <td class='w-10'>@Html.DisplayFor(modelItem => item.Customer)</td>
                                    <td class='w-10'>@Html.DisplayFor(modelItem => item.CustomerPONo)</td>
                                    <td class='w-10'><input type='text' id='ImportPOSourceModelList_POPId_@inc' name='ImportPOSourceModelList_POPId_@inc' data-toggle='tooltip' title='@item.POPId' value='@item.POPId' disabled class='form-control spid m-b-0' /></td>
                                    <td class='w-15 tdsprdid'>
                                        @Html.DisplayFor(modelItem => item.Product)
                                        Brand : @item.Brand
                                        Model : @item.ModelNo
                                    </td>
                                    <td class='w-6'><input type='text' id='ImportPOSourceModelList_SalePrice_@inc' name='ImportPOSourceModelList_SalePrice_@inc' value='@item.SalePrice' disabled class='form-control svenprc m-b-0 bg-gray' /></td>
                                    <td class='w-6'><input type='text' id='ImportPOSourceModelList_Quantity_@inc' name='ImportPOSourceModelList_Quantity_@inc' value='@item.Quantity' disabled class='form-control spoqty m-b-0' />
                                                    <input type='text' id='ImportPOSourceModelList_Quantity_@inc' name='ImportPOSourceModelList_Quantity_@inc' value='@item.Quantity' disabled class='form-control sordqty m-b-0' /></td>
                                    <td class='w-6'>
                                        <input type='text' id='ImportPOSourceModelList_GST_@inc' name='ImportPOSourceModelList_GST_@inc' placeholder='GST' value='@item.GST' class='form-control sgst' />
                                    </td>
                                    <td class='w-6'><input type='text' id='ImportPOSourceModelList_ListPrice_@inc' name='ImportPOSourceModelList_ListPrice_@inc' placeholder='ListPrice' disabled value='@item.ListPrice' class='form-control slprc m-b-0' /></td>
                                    <td class='w-6'><input type='text' id='ImportPOSourceModelList_EnqPId_@inc' name='ImportPOSourceModelList_EnqPId_@inc' placeholder='EnqPId' disabled value='@item.EnqPId' class='form-control slprc m-b-0' /></td>
                                    <td class='w-10'>
                                        <input type='text' id='ImportPOSourceModelList_VendorId_@inc' name='ImportPOSourceModelList_VendorId_@inc' placeholder='Vendor Name' value='@item.Vendor' class='form-control svenid sven m-b-0' /><br>
                                        @if (item.ListPrice == 0)
                                        {
                                            <input type='text' id='ImportPOSourceModelList_VendorPrice_@inc' name='ImportPOSourceModelList_VendorPrice_@inc' value='@item.VendorPrice' placeholder='Price' class='form-control svenprc onlynumdec m-b-0 float-left w-60' />
                                            <input type='text' id='ImportPOSourceModelList_VendorDiscount_@inc' name='ImportPOSourceModelList_VendorDiscount_@inc' value='@item.VendorDiscount' disabled placeholder='Discount' class='form-control onlynumdec vdsc m-b-0 w-30' />
                                        }
                                        else
                                        {
                                            <input type='text' id='ImportPOSourceModelList_VendorPrice_@inc' name='ImportPOSourceModelList_VendorPrice_@inc' value='@item.VendorPrice' placeholder='Price' disabled class='form-control svenprc onlynumdec m-b-0 float-left w-60' />
                                            <input type='text' id='ImportPOSourceModelList_VendorDiscount_@inc' name='ImportPOSourceModelList_VendorDiscount_@inc' value='@item.VendorDiscount' placeholder='Discount' class='form-control onlynumdec vdsc m-b-0 w-30' />
                                        }
                                    </td>
                                    <td class='w-10'>
                                        <input type='text' id='ImportPOSourceModelList_VendorId_@inc' name='ImportPOSourceModelList_VendorId_@inc' placeholder='Vendor Name' value='@item.LastVendor' disabled class='form-control sven2id slven m-b-0' /><br>
                                        <input type='text' id='ImportPOSourceModelList_VendorPrice_@inc' name='ImportPOSourceModelList_VendorPrice_@inc' value='@item.LastVendorPrice' placeholder='Price' disabled class='form-control slvenprc onlynumdec m-b-0 float-left' />
                                    </td>
                                </tr>
                                inc++;
                            }
                        </tbody>
                    </table>
                    <a href="javascript:void(0)" class="btn bg-aqua m-l-10 posousubmit">Submit</a>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- danger with sound -->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-sub-confirm">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-warning"></span> Confirm <strong>Box</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to submit?</p>
                        <p>Press No if you want to Cancel. Press Yes to Submit the record.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button name="posubmit" class="btn btn-confirm-yes btn-lg" title="Yes">
                                Yes
                            </button>
                            <button class="btn btn-confirm-no btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end danger with sound -->
    }
</section>
<!-- /.content -->
