@using Vendor_Indusuno.Extensions
@model Vendor_Indusuno.ViewModels.LoginViewModel
@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
	@Html.AntiForgeryToken()
	<!-- Top Menu Bar -->
	<header class="main-header">
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top full-navbar">
			<div class="container">
				<div class="comp-logo">
					<img src="~/Content/dist/img/Indusunologo.png" width="240" alt="Logo" />
				</div>
			</div>
		</nav>
	</header>
	<!-- Top Menu Bar -->

	<div class="login-box-right">
		<!-- /.login-logo -->

		<div class="login-box-body">
			<p class="vend-login-box-msg">Vendor Login</p>
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group m-t-10">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Email) })
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group m-t-10">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Password) })
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="row">
				<div class="col-xs-7">
					<div class="checkbox">
						<label style="padding-left: 0px;">
							@Html.CheckBoxFor(m => m.RememberMe)
							@Html.LabelFor(m => m.RememberMe)
						</label>
					</div>
				</div>
				<div class="col-xs-5">
					<button type="submit" class="btn bg-primary btn-raised btn-block btn-flat">Login</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span class="log-reg">
						Not Register?
						@Html.ActionLink("Register", "Register", "Home")
					</span>
				</div>
			</div>
		</div>
	</div>
}
